<p>{{ $ctrl.msg }}</p>

<!-- <section ng-repeat="cart in $ctrl.cartList">
  <p>ID: {{ cart.id }}</p>
  <div></div>
  <p>Product: {{ cart.product }}</p>
  <p>Price: {{ cart.price }}</p>
  <p>Quantity: {{ cart.quantity }}</p>
  <button ng-click="$ctrl.selectCart(cart.id);">Add to Cart</button>
</section> -->
<form>
    <label>
      <input placeholder="Add Item" ng-model="$ctrl.newItem.product">
    </label>
    <label>
      <input placeholder="Price" ng-model="$ctrl.newItem.price">
    </label>
    <label>
      <input placeholder="Quantity" ng-model="$ctrl.newItem.quantity">
    </label>
    <button type="button" ng-click="$ctrl.add(newItem)">Add</button> <!-- to: select-cart.js -->
  </form>
<section ng-repeat="cart in $ctrl.cartList">
  <figure>
      <div style="background:url({{cart.img}})">
        <p>ID: {{ cart.id }}</p>
      </div>
      <figcaption>
        <p>Product: {{ cart.product }}</p>
        <p>Price: ${{ cart.price }}</p>
        <p>Quantity: {{ cart.quantity }}</p>

      </figcaption>
  </figure>
  <article>
    <h2>{{cart.product}}</h2>
    <p class="stars">{{cart.stars}}</p>
    <p class="review">{{cart.review}}</p>
  </article>
  
  <div class="buttons">
    <button ng-click="$ctrl.delete(cart.id);">Delete</button> <!-- to select-cart.js -->
    <!-- <i class="fa fa-times" aria-hidden="true"></i> -->

  </div>
  

</section>