section {
    position: relative;
    display: flex;
    border: 1px solid black;
    background: #a6494f;
    margin-bottom: 10px;
}
figure {
    padding: 20px;
    background: #833a3f;
}

figure div {
    width: 300px;
    height: 400px;
    padding: 10px;
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

section button {
    position: absolute;
    bottom: 20px;
    right: 60px;
    background: linear-gradient(to right, rgba(52, 36, 48, 0.74) 0%, rgba(52, 36, 48, 0.78) 30%, rgba(52, 36, 48, 0.82) 46%, rgba(52, 36, 48, 0.92) 69%, rgba(52, 36, 48, 0.97) 100%);
    padding: 14px;
    color: #fff;
    cursor: pointer;
    font-family: "Work Sans", sans-serif;
}
section button:hover {
    background-color: rgb(134, 134, 150);
}
figcaption {
    width: 300px;
    padding: 10px;
}

.stars {
    color: gold;
}
body {
    font-Family: "Work Sans", sans-serif;
    font-Size: 16px;  
    color: white;      
}
h2 {
    font-Family: 'Neuton', Serif;
    font-Size: 49px;
}





